{block content}

<h1 id="none" n:block="title">Přihlášení / Registrace</h1>

<table class="sign">
  <tr>
    <td>
      <h1>Přihlášení</h1>
    </td>
    <td>
      <h1>Zapomenuté heslo</h1>
    </td>
    <td>
      <h1>Registrace</h1>
    </td>
  </tr>
  <tr class="standard-form-2">
    <td>
      {control signInForm}
    </td>
    <td>
      {control forgottenForm}
    </td>
    <td>
      {control registrationForm}
    </td>
  </tr>
</table>

<p id="comment">△</p>
