{block content}

<h1 n:block="title">Nastavení profilu</h1>

<div class="standard-form">
  {control settingsForm}
</div>

<h1>Změna hesla</h1>

<div class="standard-form">
  {control changePasswordForm}
</div>

<h1>Odstranit profil</h1>

<div class="standard-form">
  {control deleteAccountForm}
</div>